@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    
}